/* I (Giancarlo Saraceni) wrote this to make Discord more compact vertically and horizontally */
/* To use this yourself, use Stylus https://github.com/openstyles/stylus and target discordapp.com */
/* This style targets the Compact Dark theme and may not work correctly on other Discord themes */

/* Turn the channels panel into a flyout */
/* When collapsed, the right edge of the panel is still visible so you can see the unread indicators */
.sidebarList__5e434{
	position: relative;
	z-index: 101;
	transform: translateX(calc(67px - var(--custom-guild-sidebar-width)));
	transition: transform 0.1s;
	transition-delay: 0.1s;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 0.0) !important;
}
.guilds__5e434 {
	z-index: 102;
	margin-bottom: 0px !important;
}
/* hide this while collapsed... */
 .sidebarResizeHandle__5e434{
	display: none;
 }

/* Move the cute little round inside corner up in the heirarchy */
/* This way it's still there when the sidebar is collapsed */
/* And the sidebar slides around beneath it */
.platform-win .sidebarList__5e434 {
	border-top-left-radius: 0px;
}
.platform-win .base__5e434 {
	border-top-left-radius: 8px !important;
	border-color: var(--background-tertiary);
	border-style: solid;
}

/* hide the User Area panel when the sidebar is collapsed to make the sliver of the visible sidebar look better */
.panels__5e434 {
	z-index: 128 !important;
	transform: translateY(420px) !important;
	transition: transform 0.1s;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 0.0) !important;
}
.sidebar__5e434::after{
	display: none;
}

/* scoot the unread indicators over to the right edge when the channels are collapsed so you can see them */
.unread__2ea32{
	position: absolute;
	transform: translateX(calc(var(--custom-guild-sidebar-width) - 70px));
	transition: transform;
	transition-delay: 0.2s; /* wait for fly in start+animation length */
}

/* make channel notification badges visible while collapsed */
.mentionsBadge__933a1 {
	transform: translateX(8px);
	transition-delay: 0.2s; /* wait for fly in start+animation length */
}

#channels {
	overflow-x: clip !important;
	overflow-y: hidden !important;
}
/* hide scrollbar while sidebar is collapsed */
.sidebarList__5e434 .scrollbar-2rkZSL{
	width: 0px;
}
.sidebarList__5e434 .scrollerWrapPolyfill-DBQCMm .scroller_ef3116.systemPad-3UxEGl{
	padding-right: 0px;
}

/* slide things back into visibility when the channel or guild sidebars are hovered */
.guilds__5e434:hover ~ .sidebarList__5e434,
.sidebarList__5e434:hover,
.sidebarList__5e434:has(~ .panels__5e434:hover),
.sidebar__5e434:has(.sidebarResizeHandle__5e434:hover) > .sidebarList__5e434, 
.sidebar__5e434:has(.sidebarResizeHandle__5e434:active) > .sidebarList__5e434 {
	transform: translateX(0px);
	transition-delay: 0.05s;
}
.guilds__5e434:hover ~ .sidebarList__5e434 .unread__2ea32,
.sidebarList__5e434:hover .unread__2ea32,
.sidebarList__5e434:has(~ .panels__5e434:hover) .unread__2ea32,
.sidebar__5e434:has(.sidebarResizeHandle__5e434:hover) > .sidebarList__5e434 .unread__2ea32,
.sidebar__5e434:has(.sidebarResizeHandle__5e434:active) > .sidebarList__5e434 .unread__2ea32 {
	transform: translateX(0px);
	transition-delay: 0.05s;
}
.guilds__5e434:hover ~ .sidebarList__5e434 .mentionsBadge__933a1,
.sidebarList__5e434:hover .mentionsBadge__933a1,
.sidebarList__5e434:has(~ .panels__5e434:hover) .mentionsBadge__933a1,
.sidebar__5e434:has(.sidebarResizeHandle__5e434:hover) > .sidebarList__5e434 .mentionsBadge__933a1,
.sidebar__5e434:has(.sidebarResizeHandle__5e434:active) > .sidebarList__5e434 .mentionsBadge__933a1 {
	transform: translateX(0px);
	transition-delay: 0.05s;
}
.guilds__5e434:hover ~ .sidebarList__5e434 #channels,
.sidebarList__5e434:hover #channels,
#channels:hover,
.sidebarList__5e434:has(~ .panels__5e434:hover) #channels,
.sidebar__5e434:has(.sidebarResizeHandle__5e434:hover) > .sidebarList__5e434 #channels, 
.sidebar__5e434:has(.sidebarResizeHandle__5e434:active) > .sidebarList__5e434 #channels {
	overflow-x: hidden !important;
	overflow-y: scroll !important;
	transition: overflow-x, overflow-y;
	transition-delay: 0.05s;
}
.guilds__5e434:hover,
.guilds__5e434:has(~ .sidebarList__5e434:hover),
.guilds__5e434:has(~ .panels__5e434:hover),
.guilds__5e434:has(~ .sidebarResizeHandle__5e434:hover),
.guilds__5e434:has(~ .sidebarResizeHandle__5e434:active) {
	transition: margin-bottom 0.05s;
	margin-bottom: 60px !important;
}

/* .guilds__5e434:hover ~ .sidebarList__5e434 .scrollbar-2rkZSL,
.sidebarList__5e434:hover .scrollbar-2rkZSL {
	width: 14px;
} */
.guilds__5e434:hover ~ .sidebarList__5e434 .scroller_ef3116,
.sidebarList__5e434:hover .scroller_ef3116, 
.sidebarResizeHandle__5e434:hover ~ .sidebarList__5e434 .scroller_ef3116, 
.sidebarResizeHandle__5e434:active ~ .sidebarList__5e434 .scroller_ef3116{
	padding-right: 17px;
}

/* User Area panel*/
.guilds__5e434:hover ~ .panels__5e434,
.sidebarList__5e434:hover ~ .panels__5e434,
.panels__5e434:hover,
.sidebarResizeHandle__5e434:hover ~ .panels__5e434, 
.sidebarResizeHandle__5e434:active ~ .panels__5e434 {
	transform: translateY(0px) !important;
}
.guilds__5e434:hover ~ .sidebarResizeHandle__5e434,
.sidebarList__5e434:hover ~ .sidebarResizeHandle__5e434,
.panels__5e434:hover ~ .sidebarResizeHandle__5e434,
.sidebarResizeHandle__5e434:hover, 
.sidebarResizeHandle__5e434:active{
	display: initial;
}

/* scoot the rest of the app over to fit with the hidden channel panel */
.page__5e434 /* friends panel */ {
	margin-left: calc(67px - var(--custom-guild-sidebar-width));
	width: calc(100% + var(--custom-guild-sidebar-width) - 66px) !important;
}
/* end flyout conversion */

/* the rest of this CSS removes (what I think is) extra whitespace */
form {
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 0px !important;
	margin: 15px 10px 0px !important;
	box-shadow: none !important;
}

/* scoot the typing indicator into the gap we made with the padding-top*/
.typingIndicator_fb64c9 {
	transform: translateY(-112px) !important;
}

/* Hide the obscurant gradient
	(not only do I not like it,)
	(it otherwise covers the bottom message even when scrolled all the way down)
	(this particular selector also hits the one that occurs on non-scrolled-down typing-indicators)
*/
.chatGradientBase__36d07 {
	display: none;
}

/* individual messages */
.message__5126c{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

/* remove crazy padding from message input box */
.channelTextArea_f75fb0.channelTextArea__74017 {
	margin-top: 1px;
	padding: 0px !important;
}
.slateTextArea_ec4baf {
	padding-right: 0;
}
.textArea__74017.textAreaSlate__74017.slateContainer_ec4baf > div > div {
	padding: 5px 0;
	min-height: 0 !important;
}
.textArea__74017{
	min-height: 0px !important;
}
.attachWrapper__0923f{
	padding: 0;
}
.buttons__74017{
	height: auto;
}
/* end message input box padding removal */

/* Remove .gif, sticker insertion and nitro gift button */
.buttons__74017 > .buttonContainer__74017 > :not(.emojiButton__04eed.emojiButton__74017) ,
.buttons__74017 > .button__74017 , /* what's with the special class for the nitro gift button? */
.container_c0c49a {
	display: none;
}
/* Remove space left behind by the way we've removed the above buttons (there's still a lingering 0-size container on the :not()-selected ones) */
.buttons__74017{
	gap: 0px !important;
}

/* reduce contrast on the emoji picker and upload buttons */
.attachButton__0923f, .emojiButtonNormal__04eed.emojiButton__04eed.emojiButton__74017 {
	opacity: 0.4;
}

/* Remove extra space below the block of messages */
.scrollerSpacer__36d07{
	display: none;
}

/* kill app launcher (this don't belong here, taking space from the chatbar) */
.buttonContainer_e6e74f.app-launcher-entrypoint {
	display: none !important;
}

/* kill invite button on channels (
    you can invite via right-click;
		I don't like it sticking out in the remnants of the sidebar
		and I feel like just having it hanging out
		is kind of the wrong vibe in private spaces ngl
	)
		
	this also kills the edit button,
	which doesn't offend me specifically,
	but is also redundant
*/
div.children__2ea32 > span{
	display: none;
}
