/* I (Giancarlo Saraceni) wrote this to make Discord more compact vertically and horizontally */
/* To use this yourself, use Stylus https://github.com/openstyles/stylus and target discordapp.com */
/* This style targets the Compact Dark theme and may not work correctly on other Discord themes */

/* Turn the channels panel into a flyout */
/* When collapsed, the right edge of the panel is still visible so you can see the unread indicators */
.sidebar-1tnWFu {
	position: relative;
	z-index: 128;
	transform: translateX(-232px);
	transition: transform 0.1s;
	transition-delay: 0.1s;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 0.0) !important;
}

/* Move the cute little round inside corner up in the heirarchy */
/* This way it's still there when the sidebar is collapsed */
/* And the sidebar slides around beneath it */
.platform-win .sidebar-1tnWFu{
	border-top-left-radius: 0px;
}
.platform-win .base-2jDfDU{
	border-top-left-radius: 8px !important;
	border-color: var(--background-tertiary);
	border-style: solid;
}

/* hide the User Area panel when the sidebar is collapsed to make the sliver of the visible sidebar look better */
.panels-3wFtMD{
	height: 0px;
	transition-property: height 0.1s !important;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 0.0) !important;
	transition-delay: 2s !important; /* wait for fly in start+animation length */
}


/* scoot the unread indicators over to the right edge when the channels are collapsed so you can see them */
.unread-36eUEm {
	position: absolute;
	transform: translateX(232px);
	transition: transform;
	transition-delay: 0.2s; /* wait for fly in start+animation length */
}
#channels{
	overflow-x: clip !important;
	overflow-y: hidden !important;
}
/* hide scrollbar while sidebar is collapsed */
.sidebar-1tnWFu .scrollbar-2rkZSL{
	width: 0px;
}
.sidebar-1tnWFu .scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl{
	padding-right: 0px;
}

/* slide things back into visibility when the channel or guild sidebars are hovered */
.wrapper-1_HaEi:hover ~ .base-2jDfDU .content-1SgpWY .sidebar-1tnWFu,
.sidebar-1tnWFu:hover {
	transform: translateX(0px);
	transition-delay: 0.05s;
}
.wrapper-1_HaEi:hover ~ .base-2jDfDU .content-1SgpWY .sidebar-1tnWFu .unread-36eUEm,
.sidebar-1tnWFu:hover .unread-36eUEm {
	transform: translateX(0px);
	transition-delay: 0.05s;
}
.wrapper-1_HaEi:hover ~ .base-2jDfDU #channels,
#channels:hover{
	overflow-x: hidden !important;
	overflow-y: scroll !important;
	transition: overflow-x, overflow-y;
	transition-delay: 0.05s;
}

.wrapper-1_HaEi:hover ~ .base-2jDfDU .content-1SgpWY .sidebar-1tnWFu .scrollbar-2rkZSL,
.sidebar-1tnWFu:hover .scrollbar-2rkZSL {
	width: 14px;
}
.wrapper-1_HaEi:hover ~ .base-2jDfDU .content-1SgpWY .sidebar-1tnWFu .scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl,
.sidebar-1tnWFu:hover .scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl{
	padding-right: 17px;
}

/* User Area panel*/
.wrapper-1_HaEi:hover ~ .base-2jDfDU .content-1SgpWY .sidebar-1tnWFu .panels-3wFtMD,
.sidebar-1tnWFu:hover .panels-3wFtMD{
	height: auto;
	transition-delay: 0.2s;
}


/* scoot the rest of the app over to fit with the hidden channel panel */
.chat-2ZfjoI, /* chat */
.container-2cd8Mz /* friends panel */{
	margin-left: -233px;
}
/* end flyout conversion */

/* code blocks (triple backticks) use Solarized text colors; */
/* this makes the background Solarized Dark so they look correct (and pretty!) */
pre code {
	background-color: #002b36 !important;
}

/* the rest of this CSS removes (what I think is) extra whitespace */
form {
	margin: 0px 10px !important;
	box-shadow: none !important;
}

/* message input box */
.channelTextArea-1FufC0.channelTextArea-1VQBuV {
	margin-top: 1px;
	padding: 0px !important;
}

/* Remove .gif insertion and nitro gift button */
.channelTextArea-1FufC0.channelTextArea-1VQBuV .buttons-uaqb-5 .button-f2h6uQ:not(.emojiButton-3FRTuj.emojiButton-1fMsf3){
	display: none;
}
.markup-eYLPri.slateTextArea-27tjG0 {
	padding-right: 0;
}

/* reduce contrast on the emoji picker and upload buttons */
.sprite-2lxwfc, .attachButtonPlus-3IYelE{
	opacity: 0.3;
}

/* Remove extra space below the block of messages */
.scrollerSpacer-3AqkT9{
	display: none;
}
