/* I (Giancarlo Saraceni) wrote this to make Discord more compact vertically and horizontally */
/* To use this yourself, use Stylus https://github.com/openstyles/stylus and target discordapp.com */
/* This style targets the Compact Dark theme and may not work correctly on other Discord themes */

/* Turn the channels panel into a flyout */
/* When collapsed, the right edge of the panel is still visible so you can see the unread indicators */
.sidebar_c48ade {
	position: relative;
	z-index: 128;
	transform: translateX(-232px);
	transition: transform 0.1s;
	transition-delay: 0.1s;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 0.0) !important;
}

/* Move the cute little round inside corner up in the heirarchy */
/* This way it's still there when the sidebar is collapsed */
/* And the sidebar slides around beneath it */
.platform-win .sidebar_c48ade {
	border-top-left-radius: 0px;
}
.platform-win .base_a4d4d9 {
	border-top-left-radius: 8px !important;
	border-color: var(--background-tertiary);
	border-style: solid;
}

/* hide the User Area panel when the sidebar is collapsed to make the sliver of the visible sidebar look better */
.panels_c48ade {
	transition-property: height !important;
	height: 0px;
	transition-duration: 0.1s !important;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 0.0) !important;
	transition-delay: 2s !important; /* wait for fly in start+animation length */
}

/*TODO: fix spacing around messagebox, excessive messagebox vertical padding, change sidebar color when collapsed to make it match main panel color*/

/* scoot the unread indicators over to the right edge when the channels are collapsed so you can see them */
.unread__2ea32 {
	position: absolute;
	transform: translateX(232px);
	transition: transform;
	transition-delay: 0.2s; /* wait for fly in start+animation length */
}
#channels {
	overflow-x: clip !important;
	overflow-y: hidden !important;
}
/* hide scrollbar while sidebar is collapsed */
.sidebar_c48ade .scrollbar-2rkZSL{
	width: 0px;
}
.sidebar_c48ade .scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl{
	padding-right: 0px;
}

/* slide things back into visibility when the channel or guild sidebars are hovered */
.guilds_a4d4d9:hover ~ .base_a4d4d9 .content_a4d4d9 .sidebar_c48ade,
.sidebar_c48ade:hover {
	transform: translateX(0px);
	transition-delay: 0.05s;
}
.guilds_a4d4d9:hover ~ .base_a4d4d9 .content_a4d4d9 .sidebar_c48ade .unread__2ea32,
.sidebar_c48ade:hover .unread__2ea32 {
	transform: translateX(0px);
	transition-delay: 0.05s;
}
.guilds_a4d4d9:hover ~ .base_a4d4d9 #channels,
#channels:hover {
	overflow-x: hidden !important;
	overflow-y: scroll !important;
	transition: overflow-x, overflow-y;
	transition-delay: 0.05s;
}

.guilds_a4d4d9:hover ~ .base_a4d4d9 .content_a4d4d9 .sidebar_c48ade .scrollbar-2rkZSL,
.sidebar_c48ade:hover .scrollbar-2rkZSL {
	width: 14px;
}
.guilds_a4d4d9:hover ~ .base_a4d4d9 .content_a4d4d9 .sidebar_c48ade .scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl,
.sidebar_c48ade:hover .scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl{
	padding-right: 17px;
}

/* User Area panel*/
.guilds_a4d4d9:hover ~ .base_a4d4d9 .content_a4d4d9 .sidebar_c48ade .panels_c48ade,
.sidebar_c48ade:hover .panels_c48ade{
	height: auto;
	transition-delay: 0.2s;
}


/* scoot the rest of the app over to fit with the hidden channel panel */
.chat_f75fb0, /* chat */
.container__133bf /* friends panel */ {
	margin-left: -233px;
}
/* end flyout conversion */

/* the rest of this CSS removes (what I think is) extra whitespace */
form {
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 7px !important;
	margin: 0px 10px !important;
	box-shadow: none !important;
}

/* individual messages */
.message__5126c{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

/* message input box */
.channelTextArea_f75fb0.channelTextArea__74017 {
	margin-top: 1px;
	padding: 0px !important;
}
/* more message input box */
.slateTextArea_ec4baf {
	padding-right: 0;
}

/* Remove .gif, sticker insertion and nitro gift button */
.buttons__74017 :not(:last-child) {
	display: none;
}

/* reduce contrast on the emoji picker and upload buttons */
.attachButtonInner__0923f, .emojiButton__04eed {
	opacity: 0.4;
}

/* Remove extra space below the block of messages */
.scrollerSpacer__36d07{
	display: none;
}

/* kill app launcher (this don't belong here, taking space from the chatbar) */
.channelAppLauncher_e6e74f{
	display: none;
}
