/* I (Giancarlo Saraceni) wrote this to make Discord more compact vertically and horizontally */
/* To use this yourself, use Stylus https://github.com/openstyles/stylus and target discordapp.com */
/* This style targets the Compact Dark theme and may not work correctly on other Discord themes */

/* Turn the channels panel into a flyout */
/* When collapsed, the right edge of the panel is still visible so you can see the unread indicators */
.sidebarList_c48ade {
	position: relative;
	z-index: 101;
	transform: translateX(-300px);
	transition: transform 0.1s;
	transition-delay: 0.1s;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 0.0) !important;
}
.guilds_c48ade {
	z-index: 102;
	margin-bottom: 0px !important;
}

/* Hide the resize bar */
.sidebarResizeHandle_c48ade {
	display: none;
}

/* Move the cute little round inside corner up in the heirarchy */
/* This way it's still there when the sidebar is collapsed */
/* And the sidebar slides around beneath it */
.platform-win .sidebarList_c48ade {
	border-top-left-radius: 0px;
}
.platform-win .base_c48ade {
	border-top-left-radius: 8px !important;
	border-color: var(--background-tertiary);
	border-style: solid;
}

/* hide the User Area panel when the sidebar is collapsed to make the sliver of the visible sidebar look better */
.panels_c48ade {
	z-index: 128 !important;
	transform: translateY(120px) !important;
	transition: transform 0.1s;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 0.0) !important;
}
.sidebar_c48ade::after{
	display: none;
}

/* scoot the unread indicators over to the right edge when the channels are collapsed so you can see them */
.unread__2ea32 {
	position: absolute;
	transform: translateX(300px);
	transition: transform;
	transition-delay: 0.2s; /* wait for fly in start+animation length */
}
#channels {
	overflow-x: clip !important;
	overflow-y: hidden !important;
}
/* hide scrollbar while sidebar is collapsed */
.sidebarList_c48ade .scrollbar-2rkZSL{
	width: 0px;
}
.sidebarList_c48ade .scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl{
	padding-right: 0px;
}

/* slide things back into visibility when the channel or guild sidebars are hovered */
.guilds_c48ade:hover ~ .sidebarList_c48ade,
.sidebarList_c48ade:hover,
.sidebarList_c48ade:has(~ .panels_c48ade:hover) {
	transform: translateX(0px);
	transition-delay: 0.05s;
}
.guilds_c48ade:hover ~ .sidebarList_c48ade .unread__2ea32,
.sidebarList_c48ade:hover .unread__2ea32,
.sidebarList_c48ade:has(~ .panels_c48ade:hover) .unread__2ea32 {
	transform: translateX(0px);
	transition-delay: 0.05s;
}
.guilds_c48ade:hover ~ .sidebarList_c48ade #channels,
.sidebarList_c48ade:hover #channels,
#channels:hover,
.sidebarList_c48ade:has(~ .panels_c48ade:hover) #channels {
	overflow-x: hidden !important;
	overflow-y: scroll !important;
	transition: overflow-x, overflow-y;
	transition-delay: 0.05s;
}
.guilds_c48ade:hover,
.guilds_c48ade:has(~ .sidebarList_c48ade:hover),
.guilds_c48ade:has(~ .panels_c48ade:hover) {
	transition: margin-bottom 0.05s;
	margin-bottom: 60px !important;
}

.guilds_c48ade:hover ~ .sidebarList_c48ade .scrollbar-2rkZSL,
.sidebarList_c48ade:hover .scrollbar-2rkZSL {
	width: 14px;
}
.guilds_c48ade:hover ~ .sidebarList_c48ade .scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl,
.sidebarList_c48ade:hover .scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl{
	padding-right: 17px;
}

/* User Area panel*/
.guilds_c48ade:hover ~ .panels_c48ade,
.sidebarList_c48ade:hover ~ .panels_c48ade,
.panels_c48ade:hover{
	transform: translateY(0px) !important;
}


/* scoot the rest of the app over to fit with the hidden channel panel */
.page_c48ade /* friends panel */ {
	margin-left: -300px;
	width: calc(100% + 300px) !important;
}
/* end flyout conversion */

/* the rest of this CSS removes (what I think is) extra whitespace */
form {
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 7px !important;
	margin: 0px 10px !important;
	box-shadow: none !important;
}

/* Hide the obscurant gradient
	(not only do I not like it,)
	(it otherwise covers the bottom message even when scrolled all the way down)
	(also the one that occurs on non-scrolled-down typing-indicators)
*/
.chatGradientBase__36d07 {
	display: none;
}

/* individual messages */
.message__5126c{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

/* message input box */
.channelTextArea_f75fb0.channelTextArea__74017 {
	margin-top: 1px;
	padding: 0px !important;
}
/* more message input box */
.slateTextArea_ec4baf {
	padding-right: 0;
}

/* Remove .gif, sticker insertion and nitro gift button */
.buttons__74017 :not(:last-child) {
	display: none;
}

/* reduce contrast on the emoji picker and upload buttons */
.attachButtonInner__0923f, .emojiButton__04eed {
	opacity: 0.4;
}

/* Remove extra space below the block of messages */
.scrollerSpacer__36d07{
	display: none;
}

/* kill app launcher (this don't belong here, taking space from the chatbar) */
.channelAppLauncher_e6e74f{
	display: none !important;
}

/* kill invite button on channels (
    you can invite via right-click;
		I don't like it sticking out in the remnants of the sidebar
		and I feel like just having it hanging out
		is kind of the wrong vibe in private spaces ngl
	)
*/
.iconItem_c69b6d.iconBase_c69b6d.iconNoChannelInfo_c69b6d{
	display: none;
}
