/* I (Giancarlo Saraceni) wrote this to make Discord more compact vertically and horizontally */
/* To use this yourself, use Stylus https://github.com/openstyles/stylus and target discordapp.com */
/* This style targets the Compact Dark theme and may not work correctly on other Discord themes */

/* Turn the channels panel into a flyout */
/* When collapsed, the right edge of the panel is still visible so you can see the unread indicators */
.sidebar-2K8pFh {
	z-index: 128;
	transform: translateX(-232px);
	transition: transform 0.1s;
	transition-delay: 0.1s;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 0.0) !important;
}
/* scoot the unread indicators over to the right edge when the channels are collapsed so you can see them */
.unread-3zKkbm {
	position: relative;
	top: 22px;
	left: 232px;
	transition: left;
	transition-delay: 0.2s;
	/* wait for fly in start+animation length */
}
/* hide scrollbar while sidebar is collapsed */
.sidebar-2K8pFh .scrollbar-2rkZSL{
	width: 0px;
}
.sidebar-2K8pFh .scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl{
	padding-right: 0px;
}


.wrapper-1Rf91z:hover ~ .base-3dtUhz .content-98HsJk .sidebar-2K8pFh,
.sidebar-2K8pFh:hover {
	transform: translateX(0px);
	transition-delay: 0.05s;
}
.wrapper-1Rf91z:hover ~ .base-3dtUhz .content-98HsJk .sidebar-2K8pFh .unread-3zKkbm,
.sidebar-2K8pFh:hover .unread-3zKkbm {
	left: 0px;
	margin-top: -4px;
	transition-delay: 0.05s;
}
.wrapper-1Rf91z:hover ~ .base-3dtUhz .content-98HsJk .sidebar-2K8pFh .scrollbar-2rkZSL,
.sidebar-2K8pFh:hover .scrollbar-2rkZSL {
	width: 14px;
}
.wrapper-1Rf91z:hover ~ .base-3dtUhz .content-98HsJk .sidebar-2K8pFh .scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl,
.sidebar-2K8pFh:hover .scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl{
	padding-right: 17px;
}


/* scoot the rest of the app over to fit with the hidden channel panel */
.chat-3bRxxu, /* chat */
.container-3gCOGc /* friends panel */{
	margin-left: -233px;
}
/* end flyout conversion */

/* code blocks (triple backticks) use Solarized text colors; */
/* this makes the background Solarized Dark so they look correct (and pretty!) */
pre code {
	background-color: #002b36 !important;
}

/* the rest of this CSS removes (what I think is) extra whitespace */
form {
	margin: 0px 10px !important;
	box-shadow: none !important;
}
.channelTextArea-1LDbYG,
.channelTextArea-rNsIhG {
	margin-top: 1px;
	padding: 0px !important;
}

/* remove unnecessary whitespace around messages */
/* vertical... */
.container-1YxwTf {
	padding: 1px !important;
}
.message-1PNnaP {
	margin: 0px !important;
}
.divider-32i8lo {
	display: none;
}

/* ...horizontal */
.content-3dzVd8 {
	padding: 0px !important;
}

/* Remove .gif insertion and nitro gift button */
.buttonWrapper-1ZmCpA{
	display: none;
}

/* reduce contrast on the emoji picker button */
.sprite-2iCowe{
	opacity: 0.3;
}/* I (Giancarlo Saraceni) wrote this to make Discord more compact vertically and horizontally */
/* To use this yourself, use Stylus https://github.com/openstyles/stylus and target discordapp.com */
/* This style targets the Compact Dark theme and may not work correctly on other Discord themes */

/* Turn the channels panel into a flyout */
/* When collapsed, the right edge of the panel is still visible so you can see the unread indicators */
.channels-Ie2l6A {
	z-index: 128;
	transform: translateX(-232px);
	transition: transform 0.1s;
	transition-delay: 0.1s;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 0.0) !important;
}
/* scoot the unread indicators over to the right edge when the channels are collapsed so you can see them */
.unread-1Dp-OI {
	position: relative;
	top: 22px;
	left: 232px;
	transition: left;
	transition-delay: 0.2s;
	/* wait for fly in start+animation length */
}
/* hide scrollbar while sidebar is collapsed */
.channels-Ie2l6A .scrollbar-2rkZSL{
	width: 0px;
}
.channels-Ie2l6A .scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl{
	padding-right: 0px;
}


.wrapper-1Rf91z:hover ~ .flex-1xMQg5 .channels-Ie2l6A,
.channels-Ie2l6A:hover {
	transform: translateX(0px);
	transition-delay: 0.05s;
}
.wrapper-1Rf91z:hover ~ .flex-1xMQg5 .channels-Ie2l6A .unread-1Dp-OI,
.channels-Ie2l6A:hover .unread-1Dp-OI {
	left: 0px;
	margin-top: -4px;
	transition-delay: 0.05s;
}
.wrapper-1Rf91z:hover ~ .flex-1xMQg5 .channels-Ie2l6A .scrollbar-2rkZSL,
.channels-Ie2l6A:hover .scrollbar-2rkZSL {
	width: 14px;
}
.wrapper-1Rf91z:hover ~ .flex-1xMQg5 .channels-Ie2l6A .scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl,
.channels-Ie2l6A:hover .scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl{
	padding-right: 17px;
}


/* scoot the rest of the app over to fit with the hidden channel panel */
.chat-3bRxxu, /* chat */
.container-3gCOGc /* friends panel */{
	margin-left: -233px;
}
/* end flyout conversion */

/* code blocks (triple backticks) use Solarized text colors; */
/* this makes the background Solarized Dark so they look correct (and pretty!) */
pre code {
	background-color: #002b36 !important;
}
.hljs{
	color: #839496 !important;
}
.hljs-comment{
	color: #586e75 !important;
}

/* Turns the background of the New Messages line transparent so that it doesn't block out parts of messages */
div.divider-3gKybi > span {
	background-color: transparent !important;
}

/* the rest of this CSS removes (what I think is) extra whitespace */
form {
	margin: 0px 10px !important;
	box-shadow: none !important;
}
.channelTextArea-1LDbYG,
.channelTextArea-rNsIhG {
	margin-top: 1px;
	padding: 0px !important;
}

/* remove unnecessary whitespace around messages */
/* vertical... */
.container-3FojY8 {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 66px !important;
}
.message-1PNnaP {
	margin: 0px !important;
}
.divider-32i8lo {
	display: none;
}

.markup-2BOw-j.slateTextArea-1Mkdgw {
	margin-left: 0px;
}

/* Remove .gif insertion and nitro gift button */
.buttonWrapper-1ZmCpA{
	display: none;
}

/* Remove extra space below the block of messages */
.scroller-3sQKXg::after{
	flex-shrink: 1;
}
