/* I (Giancarlo Saraceni) wrote this to make Discord more compact vertically and horizontally */
/* To use this yourself, use Stylus https://github.com/openstyles/stylus and target discordapp.com */
/* This style targets the Compact Dark theme and may not work correctly on other Discord themes */

/* Turn the channels panel into a flyout */
/* When collapsed, the right edge of the panel is still visible so you can see the unread indicators */
.sidebar_a4d4d9 {
	position: relative;
	z-index: 128;
	transform: translateX(-232px);
	transition: transform 0.1s;
	transition-delay: 0.1s;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 0.0) !important;
}

/* Move the cute little round inside corner up in the heirarchy */
/* This way it's still there when the sidebar is collapsed */
/* And the sidebar slides around beneath it */
.platform-win .sidebar_a4d4d9{
	border-top-left-radius: 0px;
}
.platform-win .base_a4d4d9{
	border-top-left-radius: 8px !important;
	border-color: var(--background-tertiary);
	border-style: solid;
}

/* hide the User Area panel when the sidebar is collapsed to make the sliver of the visible sidebar look better */
.panels_a4d4d9{
	transition-property: height !important;
	height: 0px;
	transition-duration: 0.1s !important;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 0.0) !important;
	transition-delay: 2s !important; /* wait for fly in start+animation length */
}

/*TODO: fix spacing around messagebox, excessive messagebox vertical padding, change sidebar color when collapsed to make it match main panel color*/

/* scoot the unread indicators over to the right edge when the channels are collapsed so you can see them */
.unread_d8bfb3 {
	position: absolute;
	transform: translateX(232px);
	transition: transform;
	transition-delay: 0.2s; /* wait for fly in start+animation length */
}
#channels{
	overflow-x: clip !important;
	overflow-y: hidden !important;
}
/* hide scrollbar while sidebar is collapsed */
.sidebar_a4d4d9 .scrollbar-2rkZSL{
	width: 0px;
}
.sidebar_a4d4d9 .scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl{
	padding-right: 0px;
}

/* slide things back into visibility when the channel or guild sidebars are hovered */
.guilds_a4d4d9:hover ~ .base_a4d4d9 .content_a4d4d9 .sidebar_a4d4d9,
.sidebar_a4d4d9:hover {
	transform: translateX(0px);
	transition-delay: 0.05s;
}
.guilds_a4d4d9:hover ~ .base_a4d4d9 .content_a4d4d9 .sidebar_a4d4d9 .unread_d8bfb3,
.sidebar_a4d4d9:hover .unread_d8bfb3 {
	transform: translateX(0px);
	transition-delay: 0.05s;
}
.guilds_a4d4d9:hover ~ .base_a4d4d9 #channels,
#channels:hover{
	overflow-x: hidden !important;
	overflow-y: scroll !important;
	transition: overflow-x, overflow-y;
	transition-delay: 0.05s;
}

.guilds_a4d4d9:hover ~ .base_a4d4d9 .content_a4d4d9 .sidebar_a4d4d9 .scrollbar-2rkZSL,
.sidebar_a4d4d9:hover .scrollbar-2rkZSL {
	width: 14px;
}
.guilds_a4d4d9:hover ~ .base_a4d4d9 .content_a4d4d9 .sidebar_a4d4d9 .scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl,
.sidebar_a4d4d9:hover .scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl{
	padding-right: 17px;
}

/* User Area panel*/
.guilds_a4d4d9:hover ~ .base_a4d4d9 .content_a4d4d9 .sidebar_a4d4d9 .panels_a4d4d9,
.sidebar_a4d4d9:hover .panels_a4d4d9{
	height: auto;
	transition-delay: 0.2s;
}


/* scoot the rest of the app over to fit with the hidden channel panel */
.chat_a7d72e, /* chat */
.container_c2739c /* friends panel */{
	margin-left: -233px;
}
/* end flyout conversion */

/* the rest of this CSS removes (what I think is) extra whitespace */
form {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 7px !important;
	margin: 0px 10px !important;
	box-shadow: none !important;
}

/* individual messages */
.message_d5deea{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

/* message input box */
.channelTextArea_a7d72e.channelTextArea_d0696b {
	margin-top: 1px;
	padding: 0px !important;
}

/* Remove .gif, sticker insertion and nitro gift button */
.buttons_d0696b button:not(.emojiButton_af14ca.emojiButton_d0696b)
 {
	display: none;
}
.slateTextArea_e52116 {
	padding-right: 0;
}

/* reduce contrast on the emoji picker and upload buttons */
.attachButtonInner_f298d4, .spriteGreyscale_af14ca {
	opacity: 0.4;
}

/* Remove extra space below the block of messages */
.scrollerSpacer_e2e187{
	display: none;
}

/* kill app launcher (this don't belong here, taking space from the chatbar) */
.channelAppLauncher_df39bd{
    display: none;
}
