/* I (Giancarlo Saraceni) wrote this to make Discord more compact vertically and horizontally */
/* To use this yourself, use Stylus https://github.com/openstyles/stylus and target discordapp.com */
/* This style targets the Compact Dark theme and may not work correctly on other Discord themes */

/* Turn the channels panel into a flyout */
/* When collapsed, the right edge of the panel is still visible so you can see the unread indicators */
.sidebar_e031be {
	position: relative;
	z-index: 128;
	transform: translateX(-232px);
	transition: transform 0.1s;
	transition-delay: 0.1s;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 0.0) !important;
}

/* Move the cute little round inside corner up in the heirarchy */
/* This way it's still there when the sidebar is collapsed */
/* And the sidebar slides around beneath it */
.platform-win .sidebar_e031be{
	border-top-left-radius: 0px;
}
.platform-win .base_c0676e{
	border-top-left-radius: 8px !important;
	border-color: var(--background-tertiary);
	border-style: solid;
}

/* hide the User Area panel when the sidebar is collapsed to make the sliver of the visible sidebar look better */
.panels-3wFtMD{
	transition-property: height !important;
	height: 0px;
	transition-duration: 0.1s !important;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 0.0) !important;
	transition-delay: 2s !important; /* wait for fly in start+animation length */
}

/*TODO: fix spacing around messagebox, excessive messagebox vertical padding, change sidebar color when collapsed to make it match main panel color*/

/* scoot the unread indicators over to the right edge when the channels are collapsed so you can see them */
.unread__48cf4 {
	position: absolute;
	transform: translateX(232px);
	transition: transform;
	transition-delay: 0.2s; /* wait for fly in start+animation length */
}
#channels{
	overflow-x: clip !important;
	overflow-y: hidden !important;
}
/* hide scrollbar while sidebar is collapsed */
.sidebar_e031be .scrollbar-2rkZSL{
	width: 0px;
}
.sidebar_e031be .scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl{
	padding-right: 0px;
}

/* slide things back into visibility when the channel or guild sidebars are hovered */
.guilds__2b93a:hover ~ .base_c0676e .content__76dcf .sidebar_e031be,
.sidebar_e031be:hover {
	transform: translateX(0px);
	transition-delay: 0.05s;
}
.guilds__2b93a:hover ~ .base_c0676e .content__76dcf .sidebar_e031be .unread__48cf4,
.sidebar_e031be:hover .unread__48cf4 {
	transform: translateX(0px);
	transition-delay: 0.05s;
}
.guilds__2b93a:hover ~ .base_c0676e #channels,
#channels:hover{
	overflow-x: hidden !important;
	overflow-y: scroll !important;
	transition: overflow-x, overflow-y;
	transition-delay: 0.05s;
}

.guilds__2b93a:hover ~ .base_c0676e .content__76dcf .sidebar_e031be .scrollbar-2rkZSL,
.sidebar_e031be:hover .scrollbar-2rkZSL {
	width: 14px;
}
.guilds__2b93a:hover ~ .base_c0676e .content__76dcf .sidebar_e031be .scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl,
.sidebar_e031be:hover .scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl{
	padding-right: 17px;
}

/* User Area panel*/
.guilds__2b93a:hover ~ .base_c0676e .content__76dcf .sidebar_e031be .panels-3wFtMD,
.sidebar_e031be:hover .panels-3wFtMD{
	height: auto;
	transition-delay: 0.2s;
}


/* scoot the rest of the app over to fit with the hidden channel panel */
.chat__52833, /* chat */
.container__5c7e7 /* friends panel */{
	margin-left: -233px;
}
/* end flyout conversion */

/* code blocks (triple backticks) use Solarized text colors; */
/* this makes the background Solarized Dark so they look correct (and pretty!) */
pre code {
	background-color: #002b36 !important;
}

/* the rest of this CSS removes (what I think is) extra whitespace */
form {
	margin: 0px 10px !important;
	box-shadow: none !important;
}

/* individual messages */
.message_ccca67{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

/* message input box */
.channelTextArea__2e60f.channelTextArea__56a36 {
	margin-top: 1px;
	padding: 0px !important;
}

/* Remove .gif insertion and nitro gift button */
.buttons__7ecff .button__437ce:not(.emojiButton__8ff6a.emojiButton__30ec7){
	display: none;
}
.markup-eYLPri.slateTextArea-27tjG0 {
	padding-right: 0;
}

/* reduce contrast on the emoji picker and upload buttons */
.attachButtonPlus_fd0021, .attachButtonPlus_bf89ca{
	opacity: 0.3;
}

/* Remove extra space below the block of messages */
.scrollerSpacer__6b1b6{
	display: none;
}
